# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / packaging artifacts
build/
dist/
*.egg-info/

# Local packaging tests
_pkg_test/
_wheel_test/
_wheel_test2/